
## <summary>policy for eutocoin</summary>


########################################
## <summary>
##	Transition to eutocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`eutocoin_domtrans',`
	gen_require(`
		type eutocoin_t, eutocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, eutocoin_exec_t, eutocoin_t)
')


########################################
## <summary>
##	Execute eutocoin server in the eutocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eutocoin_initrc_domtrans',`
	gen_require(`
		type eutocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, eutocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search eutocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eutocoin_search_lib',`
	gen_require(`
		type eutocoin_var_lib_t;
	')

	allow $1 eutocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read eutocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eutocoin_read_lib_files',`
	gen_require(`
		type eutocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, eutocoin_var_lib_t, eutocoin_var_lib_t)
')

########################################
## <summary>
##	Manage eutocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eutocoin_manage_lib_files',`
	gen_require(`
		type eutocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, eutocoin_var_lib_t, eutocoin_var_lib_t)
')

########################################
## <summary>
##	Manage eutocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`eutocoin_manage_lib_dirs',`
	gen_require(`
		type eutocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, eutocoin_var_lib_t, eutocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a eutocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`eutocoin_admin',`
	gen_require(`
		type eutocoin_t;
		type eutocoin_initrc_exec_t;
		type eutocoin_var_lib_t;
	')

	allow $1 eutocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, eutocoin_t)

	eutocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 eutocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, eutocoin_var_lib_t)

')

